
.login {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.login-button {
    background-color: rgb(10, 170, 170);
    border-radius: .5rem;
    border: none;
    color: whitesmoke;
    font-size: calc(10px + 2vmin);
    margin-bottom: 1.5rem;
    padding: .5rem 1.3rem;
}

.login-button:hover {
    background-color: teal;
}

.login-error {
    background-color: #ffc0bf99;
    border-radius: .2rem;
    color: #ff000099;
    font-size: medium;
    padding: .3rem;
    margin: .3rem 0;
}

.logo {
    height: 30vh;
    pointer-events: none;
}

.register-link {
    color: #a2c7c7;
    font-size: small;
    margin: .5rem auto;
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: app-logo-pass-through 10s linear;
    }
}

@keyframes app-logo-pass-through {
    from {
        transform: translate(-125%, 0);
    }
    to {
        transform: translate(125%, 0);
    }
}