.logo {
    height: 30vh;
    pointer-events: none;
}

.register-link {
    color: #a2c7c7;
    font-size: small;
    margin: .5rem auto;
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: app-logo-pass-through 10s linear;
    }
}

@keyframes app-logo-pass-through {
    from {
        transform: translate(-125%, 0);
    }
    to {
        transform: translate(125%, 0);
    }
}